In [43]:
from sklearn.datasets import load_iris
from sklearn.decomposition import PCA
import pylab as pylab
from itertools import cycle
import pandas as pd
import numpy as np

iris = load_iris()

numSamples, numFeatures = iris.data.shape

In [38]:
iris.data.shape

(150, 4)

In [67]:
X = iris.data
n_components = 2
pca = PCA(n_components=n_components).fit(X)
X_pca = pca.transform(X)

In [39]:
X_pca.shape

(150, 2)

In [72]:
X_df_pca = pd.DataFrame(X_pca, columns=['component_%i' % i for i in range(n_components)])

In [73]:
X_df_pca

     component_0  component_1
0      -2.684126     0.319397
1      -2.714142    -0.177001
2      -2.888991    -0.144949
3      -2.745343    -0.318299
4      -2.728717     0.326755
..           ...          ...
145     1.944110     0.187532
146     1.527167    -0.375317
147     1.764346     0.078859
148     1.900942     0.116628
149     1.390189    -0.282661

[150 rows x 2 columns]

## FROM STACKOVERFLOW

In [80]:
df = pd.DataFrame(data=np.random.normal(0, 1, (20, 10)))

In [81]:
df.head(3)

,0,1,2,3,4,5,6,7,8,9
0,1.374453,2.060524,2.285198,0.193884,-0.007645,0.458283,0.701156,0.173639,-0.469687,0.217847
1,-0.330275,-0.340715,0.125470,-0.097152,-1.207508,-0.269022,0.784052,0.441271,0.082489,-0.390948
2,0.196314,0.302984,0.240294,0.123521,-0.504844,0.489043,1.349775,0.853349,-0.657275,0.908059

In [85]:
pca = PCA(n_components=5)
pca.fit(df)

n_components = 5
transformed_df = pd.DataFrame(pca.transform(df), columns=['PCA%i' % i for i in range(n_components)], index=df.index)

In [86]:
transformed_df

        PCA0      PCA1      PCA2      PCA3      PCA4
0  -1.734363  0.159757 -2.092182 -0.568010  0.434189
1  -0.111821 -1.057832  0.295140 -0.002365 -0.646544
2  -0.103000 -0.454875 -1.397657  0.472654 -1.242679
3   0.206907 -0.428210  1.627775  0.196773 -0.258151
4  -0.988748  2.103042 -0.520643  2.007350  1.966495
5   0.250695 -1.633566  1.498178 -0.970475  0.939075
6  -0.271243  3.258270  1.276895 -0.137193 -1.126627
7   0.151996  1.275526 -1.152752 -0.822955 -0.714667
8   1.405816 -0.486130  1.461479 -2.202406  0.595750
9  -1.483372 -0.287323 -1.212198 -0.667920  0.202023
10 -1.110589 -1.588070 -1.329434 -0.707119  0.497388
11  4.172908 -0.830281  0.734504  1.251472  0.901295
12  0.406338  0.812505  0.050670  0.195595 -1.031616
13  1.950834  1.003931 -1.619373 -0.538268  0.065257
14 -3.522145 -0.625506  1.428263  0.332384 -1.299925
15 -1.094517 -0.622519 -0.057802 -1.883808  1.181878
16 -0.479960 -1.993942 -1.035717  2.850096  0.246861
17  2.185521 -1.321278  0.027451  0.400426 -1.799147
18 -1.550395  0.787564  2.678920  1.026466  0.747267
19  1.719138  1.928938 -0.661518 -0.232695  0.341877

In [88]:
print(pca.explained_variance_ratio_)
print(sum(pca.explained_variance_ratio_))

[0.27063717 0.18170119 0.16644684 0.13288682 0.09023833]
0.8419103531318367