## Import of libraries

In [58]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression

## Import of CSV data

In [59]:
hashed_df = pd.read_csv('hashed_feature.csv')
tabular_df = pd.read_csv('tabular_data.csv')
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
tabular_df.head(3)

,id,period,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,feature_40,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49
0,0,1,110.0,55.0,0.432017,0.0,176.78,0.0,0.323712,NaN,...,0.00,0,0.0,0.0,55.0,2.0,0.526552,145.0,133.28,0.0
1,0,2,110.0,110.0,0.397517,0.0,315.42,0.0,0.316798,NaN,...,0.00,0,0.0,0.0,110.0,1.0,0.481063,130.0,229.97,0.0
2,0,3,110.0,55.0,0.359440,0.0,354.55,0.0,0.339188,NaN,...,0.07,0,0.0,0.0,55.0,1.0,0.509598,180.0,231.78,0.0

## Simplest solution to deal with NaN

In [64]:
tabular_df = tabular_df.fillna(axis='columns', method='bfill')

# find mean values among all 12 periods for each 'id'
tabular_df_means = tabular_df.groupby([tabular_df['id']]).mean()
tabular_df_means.reset_index(level=0, inplace=True)
tabular_df_means = tabular_df_means.drop(['period'], axis=1)

In [65]:
tabular_df_means

,id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_40,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49
0,0,110.000000,60.916667,0.238880,293.635812,430.134167,0.000000,0.445332,147.666667,147.666667,...,0.425000,0.0,11.535962,0.000000,59.875000,0.750000,8.965738,142.833333,315.011667,0.250000
1,1,110.000000,135.541667,0.060443,6940.579852,1119.352500,0.000000,0.350638,1199.843333,114.500000,...,1.636667,0.0,3385.043551,0.083333,125.000000,6.750000,15.637394,135.916667,204.334131,204.334131
2,2,110.166667,0.597500,0.574959,0.141369,4.168333,0.000000,0.875014,10.166667,10.166667,...,0.456667,0.0,0.000082,0.000000,0.597500,0.000000,0.345516,10.083333,2.470000,0.000000
3,3,28.199112,16.324112,357.412960,379.234397,19.188810,0.285477,21.883435,41.372977,27.035477,...,0.170000,0.0,0.163807,0.666667,51.376667,1.000000,0.690459,106.000000,55.316667,6.666667
4,4,110.000000,126.000000,0.133693,2568.283478,460.332500,0.000000,1.006855,522.449167,227.583333,...,3.381667,0.0,162.972195,0.166667,103.733333,36.333333,17.000910,190.333333,208.911004,208.911004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5101,5101,110.000000,94.166667,0.292280,180.142899,1218.388333,98.211165,0.465432,1430.785833,142.916667,...,0.269167,0.0,35.789269,0.000000,91.667500,12.083333,167.250000,167.250000,858.400833,6.500000
5102,5102,110.000000,80.675000,0.755737,0.000000,215.499167,0.000000,0.772686,144.782500,1.800833,...,0.862500,0.0,0.000000,0.416667,74.583333,8.500000,4.832806,102.416667,187.505833,1.666667
5103,5103,110.250000,22.568333,0.801533,0.000000,145.231667,0.000000,0.851162,64.091667,19.166667,...,2.669167,0.0,0.000000,0.333333,20.833333,5.583333,1.239719,17.250000,7.666667,7.666667
5104,5104,110.000000,86.230833,0.068594,988.894377,72.641667,0.000000,0.548337,73.720000,65.250000,...,0.547500,0.0,190.904901,0.416667,85.314167,4.333333,8.487934,60.916667,49.870833,4.583333
5105,5105,110.000000,76.458333,0.000000,0.000000,83.882500,0.000000,0.084327,253.014167,33.833333,...,0.835000,0.0,0.000000,0.000000,67.833333,0.166667,2.985461,43.666667,58.860833,0.000000

## Create smaller DF based on 4 columns to test different models and check if its even possible to apply them for this task

In [42]:
simp_tab_df = tabular_df[['id', 'feature_1', 'feature_2', 'feature_3', 'feature_4', 'feature_5', 'feature_6']].copy()
simp_tab_df = simp_tab_df.convert_dtypes()

In [43]:
simp_tab_df.head(14)

    id  feature_1  feature_2    feature_3  feature_4  feature_5  feature_6
0    0      55.00   0.432017     0.000000     176.78        0.0   0.323712
1    0     110.00   0.397517     0.000000     315.42        0.0   0.316798
2    0      55.00   0.359440     0.000000     354.55        0.0   0.339188
3    0      55.00   0.285707     0.000000     229.98        0.0   0.415428
4    0      55.00   0.101487   444.730391     307.12        0.0   0.569670
5    0      55.00   0.083655    92.284390     277.02        0.0   0.494765
6    0      55.00   0.107765   543.138844     690.38        0.0   0.522715
7    0      55.00   0.097857   578.379486     619.35        0.0   0.537815
8    0      55.75   0.179713   186.258945     539.15        0.0   0.547634
9    0      60.00   0.129596  1099.289203     608.28        0.0   0.438465
10   0      60.25   0.139461   579.548487     884.33        0.0   0.366063
11   0      60.00   0.552340     0.000000     159.25        0.0   0.471734
12   1     125.00   0.083174  5893.939371     812.20        0.0   0.417209
13   1     125.00   0.096831  5805.264756     945.20        0.0   0.432038

### Finding mean values of each period and building logistic regression model

In [44]:
  #tab_df_means = simp_tab_df.groupby([simp_tab_df['id']]).mean()
  #tab_df_means.reset_index(level=0, inplace=True)
# fill NA again to make the concept work
# (or not)
# tabular_df_means = tabular_df_means.fillna(axis='columns', method='bfill')
  #tab_df_means

In [45]:
df_train = pd.merge(tab_df_means, train_df, on='id')
y = df_train['target']
X = df_train.drop(['id'], axis=1).fillna(method='bfill')

model = LogisticRegression(random_state=0, solver='newton-cg', multi_class='multinomial').fit(X, y)
model.score(X, y)

1.0

In [46]:
pred_df = pd.merge(tab_df_means, test_df, on='id')

X_pred = pred_df.drop(['id', 'score'], axis=1).fillna(method='bfill')

res = model.predict_proba(X_pred)[:,1]
res.round(6)
test_df.SCORE = res.round(6)

ValueError: X has 6 features per sample; expecting 7

In [13]:
# export results to file
test_df.SCORE = res.round(6)
test_df.to_csv('HaidaTarasMonkaS_test.txt', sep=',', index=False)

NameError: name 'res' is not defined

In [10]:
simp_tab_df_groupped = simp_tab_df.groupby('id').agg(lambda x: list(x))
simp_tab_df_groupped.head(14)

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6
id,,,,,,
0,"[55.0, 110.0, 55.0, 55.0, 55.0, 55.0, 55.0, 55...","[0.43201678311238656, 0.3975167420697788, 0.35...","[0.0, 0.0, 0.0, 0.0, 444.730391, 92.28439, 543...","[176.78, 315.42, 354.55, 229.98, 307.12, 277.0...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.32371173357283084, 0.31679752542377004, 0.3..."
1,"[125.0, 125.0, 125.0, 125.0, 125.0, 126.5, 125...","[0.08317387509710256, 0.09683084061622006, 0.2...","[5893.939371, 5805.264756000001, 6696.44898400...","[812.2, 945.2, 837.6, 631.7, 1247.88, 982.82, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.4172087589197, 0.432037723015949, 0.341146,..."
2,"[1.17, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 6.0,...","[0.0, 1.696433, 0.0, 0.0, 0.0, 0.0, 5.20307313...","[0.0, 1.696433, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[4.05, 31.55, 0.0, 0.55, 0.0, 4.2, 0.18, 2.12,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.6033056648252785, 0.5618955067445782, 0.293..."
3,"[33.5, 75.94, 78.06, 0.9793373684066452, 0.140...","[0.008239045952032066, 3747.802363, 532.755571...","[266.829103, 3747.802363, 532.755571, 0.979337...","[127.92, 92.25, 6.67, 0.9793373684066452, 0.14...","[0.0, 0.0, 0.0, 0.9793373684066452, 0.14067076...","[0.6954995508708908, 195.98, 62.5, 0.979337368..."
4,"[103.0, 302.0, 110.0, 101.0, 126.0, 114.0, 115...","[0.16201509120499494, 0.1524421336062347, 0.17...","[4449.3348719999985, 5011.208142, 5491.642975,...","[535.37, 678.08, 824.85, 907.35, 359.7, 387.07...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.6804685064379044, 0.7297247836144429, 0.672..."
5,"[148.7, 145.0, 80.0, 195.0, 241.09, 115.0, 115...","[0.07256634027314493, 0.05486361204751952, 0.0...","[1082.113139, 3906.750156, 863.524972, 1743.89...","[490.33, 520.33, 395.7, 314.72, 479.42, 655.32...","[897.676285, 3846.831071, 742.0264, 1716.33278...","[0.02694978222198676, 0.07984002752991991, 0.0..."
6,"[55.0, 115.0, 55.0, 57.0, 68.75, 55.0, 55.1, 5...","[0.29087475383551714, 0.2622024463773186, 0.29...","[0.0, 0.003, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...","[1742.93, 2118.63, 2751.43, 2429.13, 1933.43, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1354.75, 1603.1, 1396.35, 1891.17, 1662.32, 1..."
7,"[95.0, 105.0, 95.0, 105.0, 98.0, 95.0, 95.0, 1...","[0.07887376832285656, 0.06567868184982993, 0.0...","[470.77933600000006, 491.352648, 378.25521, 39...","[1046.67, 1319.32, 1090.17, 1499.0, 1721.03, 9...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.13355962600078325, 0.1332855839199555, 0.12..."
8,"[0.0, 0.0, 0.0, 0.0, 0.0, 15.0, 0.0, 0.0, 0.0,...","[0.17218552094141568, 0.3146700443664416, 0.21...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.004695, 0.0, 0.0, ...","[0.67, 0.0, 0.12, 0.0, 0.55, 0.0, 0.0, 0.0, 0....","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.5381944306054888, 0.4916052115480589, 0.559..."
9,"[65.0, 65.0, 67.0, 65.0, 68.0, 65.0, 142.0, 11...","[0.6934920370392769, 0.7271008480560646, 0.626...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[452.5, 394.9, 462.58, 456.55, 374.68, 766.18,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.009725544230566196, 0.006639617053639746, 0..."
10,"[67.0, 72.0, 98.0, 82.72, 93.5, 36.0, 104.5, 9...","[0.30216353912778393, 0.2316599460403879, 0.46...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[322.82, 191.33, 190.73, 24.65, 240.88, 329.5,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.19638361646034266, 0.2667351190685351, 0.25..."
11,"[191.0, 105.0, 75.0, 0.4410592777129537, 0.470...","[0.3834684720243236, 8849.25046, 0.00631000000...","[2428.71204, 8849.25046, 0.0063100000000000005...","[332.32, 287.08, 341.43, 0.4410592777129537, 0...","[1848.40849, 8063.744027, 0.00518, 0.441059277...","[0.1948676333231433, 542.32, 259.25, 0.4410592..."
12,"[191.25, 225.0, 225.0, 225.0, 225.0, 225.0, 22...","[0.04784472755525433, 0.032525661884278516, 0....","[127.842123, 70.279967, 69.884941, 56.734023, ...","[241.23, 276.58, 286.97, 297.15, 280.42, 316.6...","[111.678962, 55.012164, 62.742178, 50.432087, ...","[0.593115576628981, 0.8013925931284575, 0.7038..."
13,"[0.14422906160481205, 0.19936979650404968, 0.2...","[0.14422906160481205, 0.19936979650404968, 0.2...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[1018.72, 117.7, 271.03, 214.68, 148.37, 221.9...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.5374437633164812, 0.5326158074894894, 0.508..."

### Create hash dictionary to encode them in the tabular data

In [13]:

# group/filter so unique hash names and create a 'dictionary' dataframe
unique_hashes_df = pd.DataFrame(hashed_df.feature_50.unique(), columns = ['feature_50'])

hashes_dict_df = unique_hashes_df
# create a new 'id' column, set 'feature_50' as a key and 'hash_id' as a value to for easier future replacement/matching
# drop index name and create a new 'id' column based on indexes

hashes_dict_df.reset_index(level=0, inplace=True)

hashes_dict_df = hashes_dict_df.set_index('feature_50')

hashes_dict_df.index.name = None
hashes_dict_df = hashes_dict_df.rename(columns = {'index': 'id'})

In [14]:
hashes_dict_df

                                            id
7984b0a0e139cabadb5afc7756d473fb34d23819     0
47904b3331202e9881d003ff449c2eabfbc75460     1
a99c4b3af723874ddd85af322beea81b64437294     2
4dce5381031a88aed6b12ef71b6f7c3148e7b3c8     3
d62db721202cb6636887f450a7b77fa97db03b05     4
...                                        ...
0f8e376b95d93771847cfe28c7e48570badd5add  5005
019f95d15a2f5531379bfd1f9afe03bf9b2d3919  5006
b17c5071c5bbc74f23cb0091749bb9291cabc2d7  5007
ddea38187c8ccfd9844efb2a35e53e0fdbbbe9f2  5008
f1994dcc370485a3255ec1c2897d99b5936e77e8  5009

[5010 rows x 1 columns]

### Convert dictionary dataframe into actual python dictionary while also transposing it 
### It is needed for mapping them to replace hash codes with integer values - that can be used for model algorithm to evaluate them, it shouldn't be  possible with just hashes as strings (from what I understand)

In [20]:
hash_codes = hashes_dict_df.T.to_dict('list')

### Encode (map) main hash table with integer id's from above dictionary

In [22]:
hashed_df['feature_50'] = hashed_df['feature_50'].map(hash_codes)

# fucntion that is applied to convert 'feature_50' lists column into integers
def convert_to_int(x):
    return x[0]

hashed_df['feature_50'] = hashed_df['feature_50'].apply(convert_to_int)
print(hashed_df.head(3))

   id  feature_50
0   0           0
1   0           1
2   0           2

In [27]:
hashed_df_grouped = hashed_df.groupby('id')['feature_50'].apply(list)

In [89]:
#type(hashed_df_grouped.iloc[0])

joined_df = pd.merge(tabular_df_means, hashed_df_grouped, on='id')

In [90]:
# create a new column where we put number (count) of hashes
joined_df['hashes_count'] = [len(x) for x in joined_df['feature_50']]

# create a new column where we put number (count) of unique hashes
joined_df['hashes_unique_count'] = [len(set(x)) for x in joined_df['feature_50']]

In [91]:
# check if there are differences between hashes count and unique hashes count
def checkDiff(x, y):
    if x == y:
        return 0
    else:
        return 1

joined_df['hash_diff'] = np.vectorize(checkDiff)(joined_df['hashes_count'], joined_df['hashes_unique_count'])
joined_df['hash_diff'].sum()

0

### As we can see, all hashes for each 'id' in hashed_df table are unique - there are no difference between those 2 columns. So we are not able to extract additional features and we will use only hashes count column. If only we knew what data/information those hashes contain, we can create way more sophisticated algo to extract/vectorize them. For example, if those hashes are voice recognized words (or just words from SMS) we can rank them to set priorities/ranks. That way we can create additional column like 'hashes_rank' etc.

In [24]:
hashed_df_ = hashes_dict_df.T.to_dict('list')

In [26]:
hashed_df

          id  feature_50
0          0           0
1          0           1
2          0           2
3          0           3
4          0           4
...      ...         ...
266048  5104        1042
266049  5104        3711
266050  5105         623
266051  5105        3771
266052  5105         622

[266053 rows x 2 columns]

## Restructure dataframe to put 12 periods in 1 data cell

In [13]:
tabular_df.head()

,id,period,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,feature_40,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49
0,0,1,110,55,0.432017,0,176.78,0,0.323712,147,...,0,0,0,0,55,2,0.526552,145,133.28,0
1,0,2,110,110,0.397517,0,315.42,0,0.316798,135,...,0,0,0,0,110,1,0.481063,130,229.97,0
2,0,3,110,55,0.35944,0,354.55,0,0.339188,181,...,0.07,0,0,0,55,1,0.509598,180,231.78,0
3,0,4,110,55,0.285707,0,229.98,0,0.415428,142,...,0,0,0,0,55,0,0.680089,142,183.83,0
4,0,5,110,55,0.101487,444.73,307.12,0,0.56967,92,...,0.95,0,20.0145,0,55,0,0.776175,85,155.83,0

In [18]:
#new_tab_df = tabular_df.groupby('id')['feature_0'].apply(list)

In [19]:
#new_tab_df

id
0       [110.0, 110.0, 110.0, 110.0, 110.0, 110.0, 110...
1       [110.0, 110.0, 110.0, 110.0, 110.0, 110.0, 110...
2       [110.0, 110.0, 111.0, 110.0, 111.0, 110.0, 110...
3       [110.0, 110.0, 110.0, 0.9793373684066452, 0.14...
4       [110.0, 110.0, 110.0, 110.0, 110.0, 110.0, 110...
                              ...
5101    [110.0, 110.0, 110.0, 110.0, 110.0, 110.0, 110...
5102    [110.0, 110.0, 110.0, 110.0, 110.0, 110.0, 110...
5103    [112.0, 111.0, 110.0, 110.0, 110.0, 110.0, 110...
5104    [110.0, 110.0, 110.0, 110.0, 110.0, 110.0, 110...
5105    [110.0, 110.0, 110.0, 110.0, 110.0, 110.0, 110...
Name: feature_0, Length: 5106, dtype: object

## Find mean values of 12 periods

In [11]:
tabular_df_means = tabular_df.groupby([tabular_df['id']]).mean()
tabular_df_means.reset_index(level=0, inplace=True)
# fill NA again to make the concept work
tabular_df_means = tabular_df_means.fillna(axis='columns', method='bfill')
tabular_df_means

DataError: No numeric types to aggregate

## Buildign logistic regression model without hashes

In [ ]:
df_train = pd.merge(tabular_df_means, train_df, on='id')
y = df_train.target
X = df_train.drop(['period', 'id', 'target'], axis=1).fillna(method='bfill')

model = LogisticRegression(random_state=0, solver='newton-cg', multi_class='multinomial').fit(X, y)
model.score(X, y)

## Predicting/testing

In [ ]:
test_df_n = pd.merge(tabular_df_means, test_df, on='id')

X_pred = test_df_n.drop(['period', 'id', 'score'], axis=1).fillna(method='bfill')

res = model.predict_proba(X_pred)[:,1]
res.round(6)
test_df.SCORE = res.round(6)

## Export final result to file

In [ ]:
test_df.SCORE = res.round(6)
test_df.to_csv('HaidaTarasMonkaS_test.txt', sep=',', index=False)